head{
    background-image: url('/RefereeRyan/Foto/Voetbalvlaanderen.png');

}

body {
    font-family: Arial, sans-serif;

    width: 99%;
    margin-top: 5px;
}

header{
    background-color: #333;
    color: red;
    padding: 5px 10px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin: 20px;
}
.photo {
    text-align: center;
}
.stats2425container{
    font-family: Arial, sans-serif;
    border: black solid 1px;
    border-radius: 20px;
    align-items: center;
    height: 397px;
    width: 350px;

}
.stats2425{
    text-align: center;
    padding: 5px;
}

img{
    border: black solid 1px;
    border-radius: 20px;
}
.witruimte {
    margin: 10px;
}

.tabel table { border-collapse: collapse; text-align: left; width: 100%; }
.tabel {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden;}
.tabel table td, .tabel table th { padding: 3px 10px; }
.tabel table thead th {color-stop(1, #333) );;background-color:white; color:red; font-size: 15px; font-weight: bold; border: 1px solid red; }
.tabel table tbody td { color: red; border: 1px solid red;font-size: 12px;font-weight: normal; }






nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li:hover > a {
    background-color: #555;
}

/* Submenu stijlen */
nav ul ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    padding: 0;
    border-radius: 5px;
}

nav ul ul li {
    width: 200px;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul a {
    padding: 10px 20px;
}

nav ul ul a:hover {
    background-color: #555;
}






@media only screen and (max-width: 299px){
    body{
        width: 100%;
        margin-left: 2px;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .stats2425container {
        text-align: center;
        height: 397px;
        width: 250px;
    }
}


@media only screen and (max-width: 399px) and (min-width: 300px){
    body{
        width: 100%;
        margin-left: 2px;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .stats2425container {
        text-align: center;
        height: 397px;
        width: 250px;
    }
}


@media only screen and (max-width: 632px) and (min-width: 400px) {
    body{
        width: 99%;
        margin-left: 2px;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .stats2425container {
        text-align: center;
        height: 397px;
        width: 250px;
    }
}


@media only screen and (max-width: 900px) and (min-width: 633px) {
    body{
        width: 99%;
        margin-left: 2px;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px;
    }

    .stats2425container {
        text-align: center;
        height: 397px;
        width: 250px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 901px) {
    body{
        width: 99%;
        margin-left: 2px;
    }
    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px;
    }
}