body {
    width: 98%;
    margin: 0 auto;
    margin-top: 5px;
}

img{
    border: black solid 1px;
    border-radius: 20px;
}

t, .nav
{
    border-style: solid;
    background-color: lightblue;
}
.navgeel
{
    border-style: solid;
    background-color: yellow;
}
